<!-- <div id="canvas">

</div> -->

<header role="banner" class="section">
    <div class="intro">
        <div class="intro__module">
            <h4>Hi! I'm Prabhav Khandelwal.</h4>
            <!-- <h4>I make websites and stuff.</h4> -->

            <p>
                I'm a full-time designer, part-time doodler, and aspirational writer and meme.
            </p>
            <!-- 
            <p>I design and build digital products, interfaces, and brands. 
            <a href="#">High five me</a> and say hello!</p> -->

            <!-- <p>
                I'm a Delhi-bred freelance designer currently studying Cognitive Design, Human-Computer Interaction, and Design at the University of California at San Diego. My vices include typographic pornography, obscure Indian music, Manchester United and (thinking about) writing.
            </p> -->
        </div>

        <!-- <div class="plane"> -->
        <!-- <div> -->
            <!-- <a href="{{ site.baseurl }}/"> -->
                <img class="doodle" src="{{ site.baseurl }}/assets/img/tit.svg" alt="">
            <!-- </a> -->
        <!-- </div> -->

        <div class="intro__module">
            <h4>I make websites and stuff.</h4>
            <p>I design and build digital products, interfaces, and brands. 
            <a href="#">High five me</a> and say hello!</p>
        </div>
    </div>
</header>