<nav class="section" role="navigation">
    <a href="{{ site.baseurl }}/" class="link link--design">
        <span>design</span>
        <img src="{{ site.baseurl }}/assets/img/nav/design--thin.svg" alt="">
    </a>
    <a href="{{ site.baseurl }}/blog" class="link link--writing">
        <span>writing</span>
        <img src="{{ site.baseurl }}/assets/img/nav/writing--thin.svg" alt="">
    </a>
    <a href="{{ site.baseurl }}/doodles" class="link link--doodles">
        <span>doodles</span>
        <img src="{{ site.baseurl }}/assets/img/nav/doodles--thin.svg" alt="">
    </a>
    <a href="{{ site.baseurl }}/about" class="link link--about">
        <span>about</span>
        <img src="{{ site.baseurl }}/assets/img/nav/about.svg" alt="">
    </a>
</nav>